:root {
  --main-bg-color: white;
  --main-text-color: black;

  /* box shadows */
  --light-box-shadow: rgba(0,0,0,0.3);
  --minimal-box-shadow: rgba(0,0,0,0.1)
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

/* ================== */
/* ==== index css === */
/* ================== */
#navbar {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 15px 8px var(--light-box-shadow);
  color: var(--main-text-color)
}

#navbar ul {
  list-style-type: none;
  display: flex
}

#navbar ul li {
  margin-right: 15px;
}

#navbar ul li a{
  text-decoration: none;
  color: var(--main-text-color)
}
#navbar ul li a:hover{
  border-bottom: 1px solid var(--main-text-color);
  opacity: 0.7;
}



/* ================== */
/* == about us css == */
/* ================== */
#contributors {
  display: flex;
  flex-wrap: wrap;
}

.single-contributor {
  width: 250px;
  margin: 15px 30px;
  text-align: center;
  box-shadow: 0 0 10px 5px var(--minimal-box-shadow);
}

.single-contributor img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.single-contributor h2, .single-contributor p, .single-contributor span a {
  padding: 5px; 
}

.single-contributor span {
  display: inline-flex;
}
.single-contributor span a {
  margin: 0 10px;
  color: var(--main-text-color);
}
.single-contributor span a:hover {
  opacity: 0.6;
}